.header{
    height: 100vh;
    background: url(https://iiitd.ac.in/sites/all/themes/gavias_educar/images/administration-bg.jpg);
    background-size: cover;
    top: 0;
    height: 80vh;
    background-position: 10%;
    background-repeat: no-repeat;
}

.navb {
    height: 20vh;   
    position: fixed; 
    top: 0;
}

.innerBox {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    background-color: transparent;
    display: flex;
    width: 100vw;
    height: 100%;
    margin: auto;
    border-bottom: 1px solid whitesmoke;
    justify-content: flex-end;
    align-items: center;
}

.boxItem {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
}

.boxItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   
}
  
.boxItem:hover:after {
transform: scaleX(1);
transform-origin: bottom left;

}
span{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;    
    font-weight: 500; 
}