

.Jcard:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.Jcard{
  border: none;
  border-radius: 0.4rem;
  margin: 3rem 1rem 3rem 1rem;
  transition: 0.2s;
}
.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
